<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.foodapplication.random">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_random">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:parentActivityName="com.example.foodapplication.ui.MainActivity"
            android:name=".ui.RandomActivity" />
    </application>

</manifest>